* {
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    margin: 0;
}

.main {
    background-image: url("eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x1440.jpg");
    height: 100vh;
    widows: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(190, 10%, 45%, 0.582);
    padding: 40px;
    min-width: 200px;
    width:50%;
    max-width: 400px;
    border-radius: 10px;
}

.login-title {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    
}
