* {
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    margin: 0;
}

.main {
    background-image: url("eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x1440.jpg");
    height: 100vh;
    widows: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(189, 49%, 79%, 0.438);
    padding: 40px;
    min-width: 200px;
    width:50%;
    max-width: 400px;
    border-radius: 10px;
}
