* {
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    margin: 0;
}

.main {
    background-image: url("/res/eiger_mountain_grindelwald_landscape.jpg");
    height: 100vh;
    widows: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    background-color: hsla(200, 15%, 20%, 0.5);
    padding: 40px;
    min-width: 200px;
    width:50%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px hsla(200, 15%, 20%, 0.5);
    // backdrop-filter: grayscale(0.5) opacity(0.8) 
}

$font-size-big: 2.5rem;
$font-size-label: 1.2rem;

.login-title {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: $font-size-big;
    margin: 0;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label{
        color: white;
        font-weight: lighter;
        font-size: $font-size-label;
        margin-bottom: 5px;
    }

    input{
        border: 1px solid hsl(200, 15%, 10%);
        outline: none;    
        background-color:  hsla(200, 15%, 90%, 0.5);
        padding: 10px;
        border-radius: 5px;
        color:black;
        font-size: 1.1em;

        &:focus{
            border:1px solid hsl(200, 100%, 50%);
        }
    }
}

.login-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 30px;
    background-color:  hsla(200, 100%, 50%, 0.1);
    outline: none;
    border:2px solid hsla(200, 100%, 50%, 0.5);;
    border-radius: 5px;
    font-size: $font-size-label;
    font-weight: lighter;
    color: white;

    &:hover{
        background-color:  hsla(200, 100%, 50%, 0.7);
        cursor: pointer;
    }
    &:focus{
        background-color:  hsla(200, 100%, 50%, 1);
        cursor: pointer;
    }
}

