* {
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    margin: 0;
}

.main {
    background-image: url("/res/eiger_mountain_grindelwald_landscape.jpg");
    height: 100vh;
    widows: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
$background-color: hsla(200, 15%, 20%, 0.5);

.login-container {
    background-color: $background-color;
    padding: 40px;
    min-width: 200px;
    width:50%;
    max-width: 400px;
    border-radius: 10px;
    // box-shadow: 0 0 30px 30px $background-color;
    // backdrop-filter: blur(3px);
    // backdrop-filter: grayscale(0.5) opacity(0.8) 
}

// @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
//     .login-container {
//     //   -webkit-backdrop-filter: blur(10px);
//       backdrop-filter: blur(10px);
//       background-color: $background-color; 
//     }
//   }

$font-size-big: 2.5rem;
$font-size-label: 1.2rem;

@function solid-blue($alpha){
    @return hsla(200, 100%, 50%, $alpha)
};

@function dark-blue($alpha){
    @return hsla(200, 10%, 10%, $alpha)
};

@function light-blue($alpha){
    @return hsla(200, 10%, 90%, $alpha)
};

.login-title {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: $font-size-big;
    margin: 0;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label{
        color: white;
        font-weight: lighter;
        font-size: $font-size-label;
        margin-bottom: 5px;
    }


    input{
        border: 1px solid dark-blue(1);
        outline: none;    
        background-color:  light-blue(0.5);
        padding: 10px;
        border-radius: 5px;
        color:black;
        font-size: 1.1em;

        &:focus{
            border:1px solid solid-blue(1);
        }
    }
}

.login-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 30px;
    // background-color:  hsla(200, 100%, 50%, 0.1);
    outline: none;
    border:2px solid solid-blue(0.7);
    border-radius: 5px;
    font-size: $font-size-label;
    font-weight: lighter;
    color: white;

    background: linear-gradient(to left, solid-blue(0.2) 50%, solid-blue(0.7) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:hover{
        background-position: left;
        cursor: pointer;
    }
    &:focus{
        background-color:  solid-blue(1);
        cursor: pointer;
    }
}